* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #FAF8ED;
    width: 1440px;
    height: 1243px;
}

header {
    width: 1440px;
    height: 102px;
    display: flex;
    justify-content: space-between;
    padding: 0% 135px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 36px;
    width: 447px;
    height: 16px;
    margin-top: 39px;

}

li {
    color: #2E476B;
    letter-spacing: 0.01em;
    font-family: 'Poppins';

}

.logo {
    width: 98px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}

.logo_nav {
    display: flex;
    justify-content: space-between;
    gap: 72px;
}

.button_header {
    width: 170px;
    height: 54px;
    margin-top: 24px;

}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 89px;
}

.h1 {
    color: #2D3134;
    width: 457px;
    height: 66px;
    font-size: 56px;
    line-height: 66px;
    font-style: normal;
}

span {
    color: #5B5F62;
    width: 461px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;

}

.cities {
    gap: 14px;
    margin-top: 28px;

}